.auth-container {
  height: 100vh;
  background: linear-gradient(135deg, #1f7ddb, #3aa0ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #1f7ddb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.link {
  margin-top: 10px;
  text-align: center;
  color: #1f7ddb;
  cursor: pointer;
}